<h1>
  Welcome to the {{ title }}!
</h1>
<div class="book__new">
  <button class="add-button" type="button">
    Add new book
  </button>
</div>
<!-- <div class="book__content">
  <ul (click)="show(book)">
    <li>{{book.bookTitle}}</li>
    <li>{{book.authors}}</li>
    <button class="delete-button" type="button" (click)="delete(index)"></button>
  </ul>
</div> -->
<!-- <book *ngFor="let book of bookList; let index=index;"
  [bookList]="bookList"
  [book]="book"
  [index]="index">
</book> -->


