h4 {
  text-align: center;
}

.book__info {
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.book__info-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  float: right;
}

label {
  margin-bottom: 20px;
}

.img-upload {
  margin-right: 20px;
}


